/* user-management/login/login.component.css */
.login-container {
  max-width: 300px;
  margin: 0 auto;
  box-shadow: 10px 10px 5px lightblue;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
}

.form-group button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.form-group button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.regiButton button {
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  background-color: #ccc;
}
.regiButton button:hover {
  background-color: #007bff;
}

.buttonDiv {
  margin: auto;
  display: flex;
  gap: 40px;
}
